body {
    text-align: center;
}
#mistakeSpan {
    color: red;
}
#btnStart {
    display: inline-block;
    margin-bottom: 20px;
}
.wrapper {
    width: 432px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 108px;
    height: 150px;
}