.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 100px;
}
.popuptext {
    visibility: hidden;
    position: absolute;
    padding: 8px 0;
    border-radius: 6px;
    width: 160px;
    background: #555;
    color: #fff;
    text-align: center;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555;
} 
.show {
    visibility: visible;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}